@import "material-colors";

// Font:
$base-font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size   : 16px;
$base-font-weight : 400;
$small-font-size  : $base-font-size * 0.875;
$base-line-height : 1.5;

$spacing-unit     : 30px;

// Colors:
$background-color : $clr-grey-800;
$text-color       : #111;
$brand-color      : #2a7ae2;

$primary1Color        : $clr-cyan-400;
$primary2Color: #1B5E20;
$primary3Color: #004D40;
$accent1Color: #4CAF50;
$accent2Color: #009688;
$accent3Color         : #00BCD4;
$alternate-text-color : $clr-grey-900;

$medium-screen-size : 768px;
$large-screen-size  : 992px;

body,
h1, h2, h3, h4, h5, h6,
p, 
blockquote,
pre, 
hr,
dl, 
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/* =============================================================================
 * General
 * ========================================================================== */

body {
  font                          : $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color                         : $text-color;
  background-color              : $background-color;
  -webkit-text-size-adjust      : 100%;
  -webkit-font-feature-settings : "kern" 1;
  -moz-font-feature-settings    : "kern" 1;
  -o-font-feature-settings      : "kern" 1;
  font-feature-settings         : "kern" 1;
  font-kerning                  : normal;
}

ul li {
  list-style: none;
}

.container {
  position       : relative;
  z-index        : 1;
  margin-left    : auto;
  margin-right   : auto;
  width          : 100%;
  padding-top    : 140px;
  padding-bottom : 140px;
  max-width      : none;
}

.container:before, .container:after {
  content : " ";
  display : table;
}

.container:after {

}

/* =============================================================================
 * Alignment
 * ========================================================================== */

.text-center {
  text-align: center;
}

.hctr-content {
  margin : 0 auto;
}

.vctr-content-s {
  display     : grid;
  align-items : center;
}

.vctr-content {
  display     : flex;
  align-items : center;
}

@media (min-width: $large-screen-size) {

.vctr-content-m {
  display     : flex;
  align-items : center;
}

}

/* =============================================================================
 * Margins
 * ========================================================================== */
.mb-xs30 {
  margin-bottom: 30px;
}

@media (min-width: 992px) {

.mb-m80 {
  margin-bottom: 80px;
}

} /* min-width : 992px */

@media (min-width: 768px) {

.mb-s45 {
  margin-bottom : 45px;
}

} /* min-width : 768 px; */

/* =============================================================================
 * Section 
 * ========================================================================== */

.section {
  position : relative;
  z-index  : 2;
}

.section-padding {
  padding : 140px 0 140px;
}

.section-heading { 
  h2 {
    text-transform : uppercase;
    font-size      : 40px;
    font-weight    : 900; 
  }

  p {
    font-size   : 22px;
    font-weight : 400;
    font-style  : italic;
    line-height : 37px;
    margin-top  : 25px;
  }
}

/* =============================================================================
 * Hover
 * ========================================================================== */

.hover-pointer:hover {
  cursor: pointer;
}

.hover-up:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30),
              0 15px 12px rgba(0,0,0,0.22);

  transition : all 0.2s ease;
}

/* =============================================================================
 * Banner
 * ========================================================================== */

.banner-vcenter {
  display         : flex;
  justify-content : center;
  align-items     : center;
  width           : 100%;
  height          : 90%;
}

.banner-content {
  text-align: center;
 
  h1 {
    color          : #fff;
    line-height    : 1;
    font-size      : 110px;
    font-weight    : 900;
    letter-spacing : 4px;;
    text-transform : uppercase;
    display        : inline-block;
 
    span {
      display        : block;
      text-align     : left;
      color          : #999;
      font-size      : 20px;
      font-weight    : 700;
      margin-bottom  : 12px;
      letter-spacing : 0;
    }
  }

  ul {
    margin-top    : 14px;
    line-height   : 1;
    display       : inline-block;
    padding       : 7px 15px 8px;
    border-top    : 2px solid rgba(255,255,255,.2);
    border-bottom : 2px solid rgba(255,255,255,.2);

    li {
      line-height    : 1;
      color          : rgba(255,255,255,.6);
      font-size      : 13px;
      font-weight    : 700;
      display        : inline-block;
      letter-spacing : 3.8px;
      text-transform : uppercase;

      span {
        padding     : 0 12px;
      }
    }
  }
}

/* =============================================================================
 * Profile
 * ========================================================================== */

.profile-info {
  padding-left  : 15px;
  padding-right : 15px;

  ul {
    display       : table;
  }

  li {
    line-height   : 1;
    margin-bottom : 22px;
    white-space   : nowrap;
    font-weight   : 400;
    color         : #777;
    font-size     : 17;
  }

  li:nth-child(odd) {
    float : left;
    width : 60%;
  }

  li:nth-child(even) {
    width : 40%;
    float : left;
  }

  span {
    width          : 26%;
    text-transform : uppercase;
    color          : #333;
    display        : inline-block;
    font-weight    : 700;
    font-size      : 18px;
  }
}

.profile-image {
  padding       : 8px;
  border-radius : 6px;
  box-shadow    : 0 3px 12px 0.06px rgba(0,0,0,0.2);

  img {
    width: 100%;
  }
}

.profile-social {
  text-align: center;

  ul {
    list-style  : none;
    display     : inline-block;
    zoom        : 1;
    *display    : inline;
    padding-top : 25px;
  }

  li {
    float   : left;
    padding : 2px 5px;
  }
}

.profile-social ul li a i {
  font-size: 30px;
}

/* =============================================================================
 * Skills
 * ========================================================================== */

.center-helper {
  display        : inline-block;
  height         : 80%;
  vertical-align : middle;
  transition     : all 1s ease-in-out; 
}

.center-helper-header {
  display        : inline-block;
  height         : 20%;
  vertical-align : middle;
  transition     : all 1s ease-in-out;
}

.skill-title {
  vertical-align : middle;
  display        : inline-block;
  text-align     : center;
  width          : 100%;
  text-transform : uppercase;
  font-weight    : 900;
  font-size      : 36px;
  opacity        : 1;
  transition     : all 1s ease-in-out;
}

.skills-outer {
  overflow : hidden;
  position : relative;
  width    : 900px;
}

.skills-wrapper {
  display: inline-flex;
}

.skills-container {
  float : left;
  width : 950;
}

.skill-info-list {
  padding-top    : 25;
  padding-bottom : 25;
  padding-left   : 10;
  padding-right  : 10;

  ul {
    columns : 2;
  }

  li {
    font-size      : 18px;
    text-transform : uppercase;
    font-weight    : 900;
    padding        : 5;
  }
}

.skills-nav {
  width     : 7.5%;
  float     : left;
  transform : translateY(50%);
}

.skills-nav-button {
  display : block;
  width   : 58px;
  height  : 58px;
  curson  : pointer;
  margin  : 10;
}

.skills-tabs-wrapper {
  display : inline-flex;
  width   : 100%;
}

.skills-tabs {
  display : inline-flex;
  width   : 900px;
}

.skills-tab {
  float      : left;
  width      : 50%;
  text-align : center;
}

.skill-type-btn {
  width          : 150px;
  height         : 60px;
  margin         : 10 10;
  line-height    : 60px;
  text-transform : uppercase;
  font-weight    : 900;
}

i.skills-nav-button-icon {
  line-height: 58px;
  font-size: 2.2em;
}

.separator {
  border-top : 1px solid rgba(160, 160, 160, 0.2);
  transition : all 1s ease-in-out;
}

.fader {
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0 }
  to   { opacity: 1 }
}

/* =============================================================================
 * Toolbar 
 * ========================================================================== */

.toolbar-item {
  font-size   : 20px;
  font-weight : 700;
}

.toolbar-item-anim {
  font-size                 : 20px;
  font-weight               : 700;
  animation-name            : bobble;
  animation-duration        : 0.6s;
  animation-iteration-count : 1;
}

@keyframes bobble {
  50% { transform: translate(0,-15px); }
}

/* =============================================================================
 * Resume 
 * ========================================================================== */


.resume-tab {
  padding : 10;
  height  : 100%; 
}

.resume-tab-name-s {
  display: none;
}

@media (min-width : $medium-screen-size) {

.resume-tab-name-m {
  display        : initial; 
  text-transform : uppercase;
  font-weight    : 900;
  font-size      : 32px;
  padding        : 20 20;
  vertical-align : middle;
}

}

.resume-tab-icon {
  vertical-align : middle;
  font-size      : 32px;
}

.resume-panel {
  width      : 100%;
  display    : block!important;
  left       : 0;
  top        : 0;
  position   : relative;
}

.resume-content-container {
  min-height : 800px;
  position   : relative;
}

.resume-container-active {
  position   : absolute;
  width      : 100%;
  opacity    : 1;
  transition : opacity 0.4s linear;
}

.resume-container-inactive {
  position   : absolute; 
  width      : 100%;
  opacity    : 0;
  transition : opacity 0.4s linear;
}

.resume-tab-panel-timeline {
  position: relative;
  height  : 100px;
  content : '';
  left    : 50%;
  top     : 0;
  height  : 100px;
  width   : 4px;
  background-color: #000;
}

.resume-exp-skill, .resume-edu-course {
  width          : 100%; 
  padding        : 5 15;
  margin         : 7 7;
  text-transform : uppercase;
  font-size      : 19px;
  font-weight    : 600;
  text-align     : center;
  border-radius  : 7px;
  display        : block;
}

.resume-edu-course-fixed {
  min-width  : 150px;
  min-height : 60px;
  line-height: 60px;
}

/* =============================================================================
 * Card
 * ========================================================================== */

.board {
  border-radius : 5px;
  padding       : 0;
}

.board-header, .board-content-heading {
  text-transform : uppercase;
  font-weight    : 600;
  font-size      : 19px;
  vertical-align : middle;
  text-align     : center;
  padding        : 10 0;
}

.board-content-heading {
  text-transform : uppercase;
  font-weight    : 600;
  font-size      : 19px;
  vertical-align : middle;
  text-align     : left;
  padding        : 5 0;
}

.board-header-item {
  margin : 5 auto;
}

.board-content {
  font-size      : 22px;
  font-weight    : 500;
  color          : #666;
  border-bottom  : 1px solid rgba(0,0,0,0.2);
  white-space    : pre-wrap;
  text-align     : justify;

  p {
    padding : 30px 0;
  }
}

.board-tags {
  padding: 10px 0;
}