@import "material-colors";

// Font:
$base-font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size   : 16px;
$base-font-weight : 400;
$small-font-size  : $base-font-size * 0.875;
$base-line-height : 1.5;

$spacing-unit     : 30px;

// Colors:
$background-color : $clr-grey-800;
$text-color       : #111;
$brand-color      : #2a7ae2;

$primary1Color        : $clr-cyan-400;
$primary2Color: #1B5E20;
$primary3Color: #004D40;
$accent1Color: #4CAF50;
$accent2Color: #009688;
$accent3Color         : #00BCD4;
$alternate-text-color : $clr-grey-900;

body,
h1, h2, h3, h4, h5, h6,
p, 
blockquote,
pre, 
hr,
dl, 
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/*
 * General
 */

body {
  font                          : $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color                         : $text-color;
  background-color              : $background-color;
  -webkit-text-size-adjust      : 100%;
  -webkit-font-feature-settings : "kern" 1;
  -moz-font-feature-settings    : "kern" 1;
  -o-font-feature-settings      : "kern" 1;
  font-feature-settings         : "kern" 1;
  font-kerning                  : normal;
}

section {
  position : relative;
  z-index  : 2;
}

/*
 * Custom components
 */

div.banner-vcenter {
/*
  display        : table-cell;
  vertical-align : middle;
*/
  display         : flex;
  justify-content : center;
  align-items     : center;
  width           : 100%;
  height          : 90%;
}

div.banner-content {
  text-align: center;
 
  h1 {
    color          : #fff;
    line-height    : 1;
    font-size      : 110px;
    font-weight    : 900;
    letter-spacing : 4px;;
    text-transform : uppercase;
    display        : inline-block;
    width          : 60%;
 
    span {
      display        : block;
      text-align     : left;
      color          : #999;
      font-size      : 20px;
      font-weight    : 700;
      margin-bottom  : 12px;
      letter-spacing : 0;
    }
  }

  ul {
    margin-top    : 14px;
    line-height   : 1;
    display       : inline-block;
    padding       : 7px 15px 8px;
    border-top    : 2px solid rgba(255,255,255,.2);
    border-bottom : 2px solid rgba(255,255,255,.2);
    width         : 60%;

    li {
      line-height    : 1;
      color          : rgba(255,255,255,.6);
      font-size      : 13px;
      font-weight    : 700;
      display        : inline-block;
      letter-spacing : 3.8px;
      text-transform : uppercase;
    }
  }
}

div.container {
  position     : relative;
  z-index      : 1;
  margin-left  : auto;
  margin-right : auto;
  width        : 100% 
}

a.toolbar-item {
  animation-name            : bobble;
  animation-duration        : 0.6s;
  animation-iteration-count : 1;
}

@keyframes bobble {
  50% { transform: translate(0,-15px); }
}